
h1 {
background-color: cadetblue;
color: lightcoral;
border: 1px solid black;
padding-left: 240px;
padding-right: 240px;
padding-top: 50px;
padding-bottom: 50px;
text-align: center;
}

h1:hover {
    background-color:honeydew;
  }

a:hover {
    background-color: honeydew;
}

/*
div {
    background-color: cadetblue;
}
*/

p {
    font-family: Georgia, 'Times New Roman', Times, serif; font-size: 24px;
}

/*img {
    border: 2px solid black;
    border-radius: 8px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 240px;
    margin-right: 240px;
}
*/

.img1 {
   border: 2px solid blue
}

.tabulka1 {
    background-color: darkgrey;
    color: indigo;
    border: 2px solid black;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 240px;
    margin-right: 240px;
}

h4 {
    padding-left: 80px;
}

.list1 {
    color: chocolate;
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}


.flexbox {
    
    height: 200px;
    width: 600px;
    background: cadetblue;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transform: translateX(300px)
}

.item {
    text-align: center;
    padding-top: 5px;
    flex-wrap:wrap;
    height: 80px;
    width: 100px;
    background: darkgrey;
    border: 2px solid black


}

.flexbox_fotky1 {
    
    margin: auto;
    height: 200px;
    width: 600px;
    background: cadetblue;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transform: translatey(50px);
}
  
.img2 {
       border: 2px solid black;
       width: 150px;
       height: 150px;
}
 
.zoznam1 {
    width:200px;
    margin: auto;
    font-style: italic;
    font-size: 24px;
    

}
h3 {
    color: lightcoral;
   
    text-align: center;
}